@import "./normalize.css";
@import "https://at.alicdn.com/t/font_1457614_5nqffosxie5.css";
/*:root -> 获取根元素html*/
:root{
  --color-text:#666;
  --color-higt-text:#ff5777;
  --color-tint:#ff8198;
  --color-background:#fff;
  --font-size:14px;
  --line-height: 1.5;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  /*box-sizing: border-box;*/
}

body{
  /*font-family: */
  /*user-select: none;*//*禁止用户鼠标在页面选中图片 文字*/
  -webkit-tap-highlight-color:transparent;/*webkit是苹果浏览器引擎 tap点击 
  highlight背景高亮*/
  background: var(--color-background);
  color: var(--color-text);
  width: 100vw;
  font-size: 12px;

}

a{
  color: var(--color-text);
  text-decoration: none;
}
ul li{
  list-style: none;
}
li{
  list-style: none;
}
.custom-scrollbar::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
.custom-scrollbar::-webkit-scrollbar-button, .custom-scrollbar::-webkit-scrollbar-track {
    display: none;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
    background: #e5e9ef;
    border: 1px solid #ddd;
    border-radius: 4px;
}
.custom-scrollbar::-webkit-scrollbar-button, .custom-scrollbar::-webkit-scrollbar-track {
    display: none;
}
.custom-scrollbar::-webkit-scrollbar-track-piece {
    background: #ddd;
}
.clear-fix::after{
  clear: both;
  content: "";
  display: block;
  width: 0;
  height: 0;
  visibility: hidden;
}

.clear-fix{
  zoom:1;
}

.left{
  float: left;
}

.right{
  float: right;
}
